body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Aclonica', sans-serif;
    background-image: url(./back.jpg);
    background-size: cover;
}

.clock {
    width: 500px;
    height: 500px;
    background-color: rgb(172, 172, 219);
    border-radius: 50%;
    border: 10px solid darkgoldenrod;
    box-shadow: 0 0 10px grey;
    position: relative;
}

.clock:hover {
    background-color: brown;
    transition: background-color 1s ease-in-out;
}

.numbers div {
    position: absolute;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px grey;

}

.twelve {
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

.three {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.six {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.nine {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.arrows::before {
    width: 25px;
    height: 25px;
    content: "";
    background-color: green;
    border-radius: 50%;
    box-shadow: 2px 2px 3px grey;
    z-index: 4;
}

.arrows div {
    position: absolute;
    transform-origin: bottom center;
    bottom: 50%;
}


.hours {
    height: 25%;
    width: 10px;
    background-color: aliceblue;
    border-radius: 50% 50% 0 0;
    transform: rotate(15deg);
    z-index: 1;
    box-shadow: 2px 2px 2px grey;
}

.minutes {
    height: 36%;
    width: 10px;
    background-color: aliceblue;
    border-radius: 50% 50% 0 0;
    transform: rotate(35deg);
    z-index: 2;
    box-shadow: 2px 2px 2px grey;
}

.seconds {
    height: 45%;
    width: 5px;
    background-color: rgb(255, 9, 9);
    border-radius: 50% 50% 0 0;
    transform: rotate(45deg);
    z-index: 3;
    box-shadow: 2px 2px 2px grey;
}

.calender {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 32%;
    flex-direction: column;
    background-color: black;
    color: rgb(0, 255, 72);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid yellow;
}



.date {
    display: flex;
    justify-content: center;
    align-items: center;
}